.event {
    border-radius: 5px;
    box-shadow: 2px 2px 6px -1px var(--purple-200) inset, 2px 2px 4px 0px var(--teal-200), -2px -2px 6px -1px var(--purple-200) inset;
    display: flex;
    flex-direction: column;
}

.event:hover {
    box-shadow: 2px 2px 6px 1px var(--purple-200) inset, 2px 2px 6px 2px var(--teal-200), -2px -2px 6px 1px var(--purple-200) inset;
    transition: 0.6s;
}