.category {
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 8px;
    margin: 0.25rem;
    background-color: var(--teal-100);
    box-shadow: 1px 1px 2px 1px var(--purple-200);
    user-select: none;
}

.category:hover {
    box-shadow: 1px 1px 6px 1px var(--teal-200) inset, -1px -1px 6px 1px var(--teal-200) inset, 1px 1px 4px 1px var(--purple-200);
    transition: 0.6s;
    overflow: visible;
}

.active {
    background-color: var(--primary-color);
    color: white;
    box-shadow: 1px 1px 4px 1px var(--teal-200);
}

.active:hover {
    box-shadow: 1px 1px 4px 1px var(--teal-200);
    cursor: default;
}

.search {
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    background: var(--gray-200);
}